#container {
  height: fit-content;
  width: fit-content;
  background-color: #fcf9fe;
  display: flex;
}

#navbar {
  width: 100%;
  height: fit-content;
  background-color: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #f4e9fb;
}
#leftnav {
  display: flex;
}
#rightnav {
  display: flex;
}
.navtext {
  padding: 1em;
  color: grey;
  border: transparent;
  border-radius: 5px;
  background-color: white;
}
.navtext:hover {
  background-color: #e0cfeb;
  color: white;
}

#searchbar {
  height: 18px;
  padding: 4px;
  margin: 1em;
  margin-top: 0;
  border-radius: 10px;
}
#leftbar {
  height: 1000px;
  width: 20%;
  background-color: #14ba5e;
  text-shadow: 2px 2px #12a855;
}
.title {
  margin: 1em;
  padding: 8px;
  padding-top: 0;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px #12a855;
}
#prideflag {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
#tabs-container {
  text-align: center;
}
.tabs {
  background-color: #14ba5e;
  padding: 8px;
  margin: 1em;
  color: white;
  font-size: 18px;
  width: fit-content;
  border: transparent;
  border-radius: 5px;
}
.tabs:hover {
  background-color: #12a855;
}

#content {
  width: 100%;
  height: 100%;
  margin: 2em;
}

#text {
  color: black;
}
#zip {
  height: 18px;
  padding: 4px;
  margin: 1em;
  width: 44%;
}
#boxc {
  width: 100%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
}

.boxes {
  width: 250px;
  height: 320px;
  margin: 1em;
  background-color: white;
  font-size: 14px;
  box-shadow: 10px 10px 5px lightgrey;
  border-radius: 5px;
}
.business {
  width: 250px;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.boxtext {
  margin: 5px;
  color: #0f1427;
}
.tag-container {
  display: flex;
  justify-content: space-around;
}
.post-tag {
  background-color: #F98866;
  color: white;
  padding: 7px;
  margin-top: 2px;
  border-radius: 12px;
  margin-right: 2px;
}
.post-tag:hover {
  background-color: #FF420E;
  color: white;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #f0e0fa;
}
